body {
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
}
nav {
  background-color: red;
  text-align: center;
  margin-bottom: 21px;
  margin-left: 400px;
  margin-right: 500px;

}
a {
  color:white;
  text-decoration: none;
}
header {

}
.hero {
background-image: url("../top-image.png");
height: 365px;
width: 1185px;
margin-left: 275px;
border: 10px solid white;
}
form {
  text-align: center;
}
footer {
  height:298px;
  width: 1025px;
  background-color:white;
  margin-left: 330px;
  margin-top: 34px;
}
.hero1,.hero2,.hero3 {
  background-color: white;
  height:352px;
  width: 335px;
}
span {
  color:red;
}
.people {
  background-color: white;
  height:297px;
  width: 1025px;
  margin-left: 330px;
  background-image: url("../sk8-3.png");

.skate1 {
  background-image: url("../sk8er-4.png");
  height: 224px;
  width: 324px;
}
.skate2 {
  background-image: url();
}
.skate3 {
  background-image: url();
}
.skate4 {
  background-image: url();
}
.box {
  height: 465px;
  width: 1013px;
  background-color: black;
}
